<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.dao.SalesChanceMapper">
	
	<resultMap type="com.atguigu.crm.entity.SalesChance" id="withPlans">
		<id column="id" property="id"/>
		<result column="contact" property="contact"/>
		<result column="contact_tel" property="contactTel"/>
		<result column="create_date" property="createDate"/>
		
		<result column="cust_name" property="custName"/>
		<result column="description" property="description"/>
		<result column="designee_date" property="designeeDate"/>
		
		<result column="rate" property="rate"/>
		<result column="source" property="source"/>
		<result column="status" property="status"/>
		<result column="title" property="title"/>
		
		<result column="createBy.name" property="createBy.name"/>
		<result column="designee.name" property="designee.name"/>
		
		<collection property="salesPlans" 
			ofType="com.atguigu.crm.entity.SalesPlan" columnPrefix="p_">
			<id column="id" property="id"/>
			<result column="plan_date" property="date"/>
			<result column="plan_result" property="result"/>
			
			<result column="todo" property="todo"/>
		</collection>
	</resultMap>
	
	<select id="getWithPlans" resultMap="withPlans">
		SELECT s.id, contact, contact_tel, create_date, cust_name,
		description, designee_date, rate, source, status, title,
		c.name as "createBy.name", d.name as "designee.name",
		p.id as "p_id", p.plan_date as "p_plan_date", p.plan_result as "p_plan_result", p.todo as "p_todo"
		FROM sales_chances s
		LEFT OUTER JOIN users c
		ON s.created_user_id = c.id
		LEFT OUTER JOIN users d
		ON s.designee_id = d.id
		LEFT OUTER JOIN sales_plan p
		ON p.chance_id = s.id
		WHERE s.id = #{id}
		ORDER BY p.id
	</select>
	
	<sql id="chanceCondition">
		<where>
			<if test="custName != null and custName != ''">
				cust_name LIKE #{custName}
			</if>
			<if test="title != null and title != ''">
				AND title LIKE #{title}
			</if>
			<if test="contact != null and contact != ''">
				AND contact LIKE #{contact}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="status2 != null and status2 != ''">
				AND status != #{status2}
			</if>
			<!-- 注意: 在 myBatis 的变量中不能使用 . 例如: 不能使用 designee.id . 但可以可使用 designeeId -->
			<if test="designeeId != null and designeeId != ''">
				AND designee_id = #{designeeId}
			</if>
		</where>
	</sql>
	
	<select id="getContent2" resultType="com.atguigu.crm.entity.SalesChance">
		SELECT * 
		FROM (SELECT rownum rn, id, contact, contact_tel, create_date, title, cust_name, status 
		 	  FROM sales_chances 
			  <include refid="chanceCondition"/>
		) t 
		<![CDATA[
		WHERE t.rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>
	
	<select id="getTotalElements2" resultType="long">
		SELECT count(id)
		FROM sales_chances
		<include refid="chanceCondition"/>
	</select>
	
</mapper>